{% extends "base.html" %}
{% block content %}
<div class="columns">
  <div class="column">
    <h3>Messages</h3>
    <ul class="messages">
      {% for item in messages %}
      <li>
	<time>
	  {{item.timestamp|date:"yyyy-MM-dd HH:mm"}}
	</time>
	<p>{{item.message}}</p>
	<p> - {{item.name}}</p>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="columns">
  <div class="column">
    <form method="POST" action="/message">
      {% csrf-field %}
      <div class="field">
	<label class="label" for="name">
	  Name
	</label>
	{% if errors.name %}
	<div class="notification is-danger">
	  {{errors.name|join}}
	</div>
	{% endif %}
	<input class="input"
	       type="text"
	       name="name"
	       value="{{name}}" />
      </div>
      <div class="field">
	<label class="label" for="message">
	  Message
	</label>
	{% if errors.message %}
	<div class="notification is-danger">
	  {{errors.message|join}}
	</div>
	{% endif %}
	<textarea
	  class="textarea"
	  name="message">{{message}}</textarea>
      </div>
      <input type="submit"
	     class="button is-primary"
	     value="comment" />
    </form>
  </div>
</div>
{% endblock %}
